# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Walthamstow.Microsoft.NET.Sdk.Functions.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../:\Walthamstow-Microsoft-NET-Sdk-Functions\.idea\.idea.Walthamstow.Microsoft.NET.Sdk.Functions\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
